@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.category-tap-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  margin: 30px auto 15px;
  padding: 0;
  max-width: 1300px;
  position: relative;
  z-index: 0;

  @media (max-width: 1024px) {
    gap: 0.6rem;
    padding: 0.8rem 0;
  }

  @media (max-width: 768px) {
    gap: 0.4rem;
    padding: 0.6rem 0.4rem;
  }

  @media (max-width: 480px) {
    gap: 0.3rem;
    padding: 0.5rem 0.2rem;
  }
}

.category-tap {
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  font-weight: 600;
  color: $text-color;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: $radius-sm;
  cursor: pointer;
  text-align: center;
  @include transition();

  &:hover {
    border-color: $primary-color;
    color: $primary-color;
  }

  &.active {
    background-color: $primary-color;
    color: #000;
    border-color: $primary-color;
  }

  @media (max-width: 768px) {
    margin-top: 15px;
    font-size: 0.78rem;
    padding: 0.4rem 0.5rem;
  }

  @media (max-width: 480px) {
    margin-top: 15px;
    font-size: 0.7rem;
    padding: 0.3rem 0.3rem;
  }
}
