@use "@/styles/variables" as *;

.section-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  flex-wrap: wrap;
  margin-bottom: 0;
  margin-top: 0;
  .line {
    height: 2px;
    width: 30px;
    background-color: $primary-color;
    animation: glow 2s ease-in-out infinite;
    opacity: 0.6;
  }

  .section-title {
    font-size: 2rem;
    font-weight: bold;
    color: $primary-color;
    text-shadow: $text-shadow;
    text-align: center;
    white-space: nowrap;
  }
}

@keyframes glow {
  0%,
  100% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
}

@media (max-width: 776px) {
  .section-title-wrapper {
    gap: 0.5rem;
    margin-bottom: 0;
    margin-top: 20px;

    .line {
      width: 25px;
    }

    .section-title {
      font-size: 1.4rem;
    }
  }
}
