@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.meal-card {
  background: $secondary-color;
  border-radius: $radius-md;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
  width: 100%;
  max-width: 180px;
  text-align: center;
  position: relative;

  @media (max-width: 1024px) {
    
  }
  &:hover {
    transform: scale(1.03);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);

    .meal-description {
      opacity: 1;
      transform: translateX(0) scale(1);
    }
  }

  .image-wrapper {
    width: 100%;
    height: 110px;
    position: relative;

    .meal-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: $radius-md $radius-md 0 0;
      max-width: 120px;
      max-height: 120px;
      display: block;
      margin: 0 auto;
    }
  }

  .meal-description {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.8rem;
    font-size: 0.76rem;
    font-weight: 500;
    color: white;
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateX(100%) scale(0.95);
    transition: all 0.4s ease-in-out;
    z-index: 3;
    letter-spacing: 0.5px;
    line-height: 1.4;
    border-radius: $radius-md $radius-md 0 0;
    text-align: center;
    padding: 0.7rem 1rem;
  }

  .add-btn {
    position: absolute;
    top: 6px;
    right: 6px;
    background-color: #f1d74e;
    color: #000;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 10;

    &:hover {
      background-color: $hover-color;
    }
  }

  .meal-info {
    width: 100%;
    padding: 0rem 0.6rem;

    .meal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .meal-name {
        font-size: 0.8rem;
        font-weight: 600;
        color: $primary-color;
      }

      .meal-price {
        font-size: 0.6rem;
        color: white;
      }
    }
  }

  @media (max-width: 768px) {
    max-width: 140px;

    .image-wrapper {
      height: 90px;

      .meal-image {
        max-width: 90px;
        max-height: 90px;
      }
    }

    .meal-description {
      font-size: 0.66rem;
      padding: 0.6rem 0.8rem;
    }

    .add-btn {
      width: 20px;
      height: 20px;
    }

    .meal-info {
      padding: 0rem 0.4rem;

      .meal-header {
        .meal-name {
          font-size: 0.7rem;
        }

        .meal-price {
          font-size: 0.65rem;
        }
      }
    }
  }
}
