@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.social-icons {
  margin-top: 1.2rem;
  display: flex;
  gap: 2.5rem;
  justify-content: center;

  a {
    font-size: 1.5rem;
    color: $primary-color;
    @include transition(transform);

    &:hover {
      transform: scale(1.15);
      color: lighten($primary-color, 10%);
    }
  }
}

@media (max-width: 776px) {
  .social-icons {
    gap: 0.8rem;
    margin-top: 0.8rem;

    a {
      font-size: 1.3rem;
    }
  }
}
